<form [formGroup]="cocktailForm" (ngSubmit)="submit()" *ngIf="cocktailForm">
  <div class="form-group d-flex flex-column">
    <label>Nom</label>
    <input type="text" formControlName="name" />
  </div>
  <div class="form-group d-flex flex-column">
    <label>Image</label>
    <input type="text" formControlName="img" />
  </div>
  <div class="form-group d-flex flex-column">
    <label>Description</label>
    <input type="text" formControlName="description" />
  </div>
  <hr />
  <button type="button" (click)="addIngredient()" class="btn btn-primary">
    Ajouter ingrédient
  </button>
  <hr />
  <div formArrayName="ingredients">
    <div
      [formGroupName]="index"
      *ngFor="let ingredient of ingredients.controls; let index = index"
    >
      <div class="form-group d-flex flex-column">
        <label>Nom</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="form-group d-flex flex-column">
        <label>Quantité</label>
        <input type="number" formControlName="quantity" />
      </div>
    </div>
  </div>
  <div class="actions">
    <button [disabled]="cocktailForm.invalid" class="btn btn-primary">
      Valider
    </button>
    <button class="btn btn-secondary" routerLink="../">Annuler</button>
  </div>
</form>
